%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-inputs
    = f.input :first_name, required: true, autofocus: true
    = f.input :last_name, required: true, autofocus: true
    = f.input :email, required: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = simple_fields_for :family do |o|
      = o.label :family
      = o.input :id, collection: Family.all, label_method: :name, label: false, value_method: :id, prompt: "New Family..", required: false
      = o.input :name, placeholder: 'Enter Family Name', label: false, required: true
  .form-actions
    = f.button :submit, "Sign up", class: 'btn btn-success'

= render "devise/shared/links"
