= simple_form_for [@family, @task] do |f|
  = f.input :description
  = f.input :tag_list, input_html: { value: f.object.tag_list.to_s }
  = f.simple_fields_for :categories do |c|
    = c.input :first_category_id, collection: Category.roots, label_method: :name, label: false, value_method: :id, include_blank: true, input_html: { id: :first_category_id, data: { url: dynamic_select_categories_path(':category_id'), target: '#second_category_id' } }, selected: @categories[0].try(:id), required: false
    = c.input :second_category_id, collection: @categories[0].try(:children) || [], label_method: :name, label: false, value_method: :id, include_blank: true, input_html: { id: :second_category_id, data: { url: dynamic_select_categories_path(':category_id'), target: '#third_category_id' } }, selected: @categories[1].try(:id), required: false, disabled: @categories[0].nil?
    = c.input :third_category_id, collection: @categories[1].try(:children) || [], label_method: :name, label: false, value_method: :id, include_blank: true, input_html: { id: :third_category_id }, selected: @categories[2].try(:id), required: false, disabled: @categories[1].nil?
  = f.button :submit
