%h1= t('.title')

= render 'form'

%hr/
= render partial: 'comments', locals: { comments: @task.comments, task: @task }
%hr/

= simple_form_for [@family, @task, Comment.new] do |f|
  = f.text_area :body
  = f.hidden_field :task_id, value: @task.id
  = f.submit

