%h3
  #{@family.name}
  = t('.title')

%h4 Author Tasks

.row
  - @author_tasks.each do |task|
    .task.col-md-2
      = task.truncated_description
      = task.assignee_first_name
      = task.state

%hr/

.row
  - @family.users.each do |user|
    .user.col-md-2
      = user.first_name
      = user.email

%hr/
%p= link_to t('.new_task'), new_family_task_path(@family), class: 'btn btn-sm btn-primary'
%p= link_to t('.back_to_family'), family_path(@family), class: 'btn btn-sm btn-success'
%p= link_to t('.dashboard'), root_path, class: 'btn btn-sm btn-success'

