%h3 #{@family.name} Family Tasks

%h4 Author Tasks

.row
  - current_user.author_tasks.each do |task|
    .task.col-md-2
      = task.description.truncate(20)
      = task.assignee&.first_name
      = task.state
      = link_to 'Change Status', root_path


%hr/

.row
  - @family.users.each do |user|
    .user.col-md-2
      = user.first_name
      = user.email

%hr/
%p= link_to 'New Task', new_family_task_path(@family), class: 'btn btn-sm btn-primary'
%p= link_to 'Back to Family', family_path(@family), class: 'btn btn-sm btn-success'
%p= link_to 'Dashboard', root_path, class: 'btn btn-sm btn-success'

