%h3
  = t('.title')
  %i= @family.name

%h3= t('.members')

%table.table.table-striped
  %thead
    %tr
      %th= t('users.first_name')
      %th= t('users.last_name')
      %th= t('users.email')
      %th= t('users.role')
      %th
  %tbody
    - @users.each do |user|
      %tr
        %th= user.first_name
        %th= user.last_name
        %th= user.email
        %th= user.with_role(@family)
        %th
          = link_to family_member_path(@family, user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
            %i.glyphicon.glyphicon-remove


%hr
%p= link_to t('.new_member'), new_family_member_path(@family), class: 'btn btn-sm btn-primary'
%p= link_to t('.new_task'), new_family_task_path(@family), class: 'btn btn-sm btn-primary'
%p= link_to t('.family_tasks'), family_tasks_path(@family), class: 'btn btn-sm btn-primary'
%p= link_to t('home.index.title'), root_path, class: 'btn btn-sm btn-success'
